<app-header></app-header>
<div class="container">
    <p class="text-center"><strong>PASSIONATE TO BUILD INNOVATIVE SOLUTIONS?, WE HAVE AN EMPLOYMENT FOR YOU.</strong></p>
    <p>Use your passion, energy and ingenuity to help transform the businesses of T5developers. Whatever your role, you’ll have the freedom and responsibility to develop your ideas
        <br> Interested candidates please send your resume to career@T5Developers.com</p>
    <h2 class="text-divider"></h2>
</div>

<div class="container">
    <h4>Open Positions</h4>
    <h4>UI/UX Developer</h4>
    <p>We are looking for Highly Creative and Passionate Designers, who have strong hands on Adobe Photoshop, Adobe Illustrator, Dreamweaver, Wordpress, Flash, etc.</p>
    <ul>
        <li>Proficient in developing clean, well-structured & W3C valid code.</li>
        <li>Expertise in Cross Browser Compatibility (IE8+, Chrome, Safari, Firefox, Opera).</li>
        <li>Responsive Implementation for Mobile / Handheld devices (Android, iOS, Windows Phone etc.)</li>
        <li>Good Experience with HTML/HTML5, CSS/CSS3 and Javascript</li>
        <li>Should have good knowledge in developing web pages and grid layouts.</li>
        <li> Should have a average knowledge about responsive & parallax.</li>
        <li>Should be able to explore and customize latest UI frameworks and web trends.</li>
        <li>Should be able to integrate server side script with the frontend (HTML,HTML5 & JQuery) - optional</li>
    </ul>
    <h2 class="text-divider"></h2>
    <h4>Artificial Intellagince</h4>
    <p>We are looking for Highly Creative and Passionate Designers, who have strong hands on Adobe Photoshop, Adobe Illustrator, Dreamweaver, Wordpress, Flash, etc.</p>
    <ul>
        <li>Proficient in developing clean, well-structured & W3C valid code.</li>
        <li>Expertise in Cross Browser Compatibility (IE8+, Chrome, Safari, Firefox, Opera).</li>
        <li>Responsive Implementation for Mobile / Handheld devices (Android, iOS, Windows Phone etc.)</li>

    </ul>
    <h2 class="text-divider"></h2>
</div>
<app-footer></app-footer>