<app-header></app-header>
<div class="container">
    <p class="text-center"><strong>PASSIONATE TO BUILD INNOVATIVE SOLUTIONS?, WE HAVE AN EMPLOYMENT FOR YOU.</strong></p>
    <p>Use your passion, energy and ingenuity to help transform the businesses of T5developers. Whatever your role, you’ll have the freedom and responsibility to develop your ideas
        <br> Interested candidates please send your resume to <strong class="text-success">career@T5Developers.com</strong></p>

</div>

<div class="container">

    <h4>UI/UX Developer</h4>
    <p>We are looking for Highly Creative and Passionate Designers, who have strong hands on Adobe Photoshop, Adobe Illustrator, Dreamweaver, Wordpress, Flash, etc.</p>
    <ul>
        <li>Proficient in developing clean, well-structured & W3C valid code.</li>
        <li>Expertise in Cross Browser Compatibility (IE8+, Chrome, Safari, Firefox, Opera).</li>
        <li>Responsive Implementation for Mobile / Handheld devices (Android, iOS, Windows Phone etc.)</li>
        <li>Good Experience with HTML/HTML5, CSS/CSS3 and Javascript</li>
        <li>Should have good knowledge in developing web pages and grid layouts.</li>
        <li>Should have a average knowledge about responsive & parallax.</li>
        <li>Should be able to explore and customize latest UI frameworks and web trends.</li>
        <li>Should be able to integrate server side script with the frontend (HTML,HTML5 & JQuery) - optional</li>
    </ul>
    <h2 class="text-divider"></h2>
    <h4>.Net Developer</h4>
    <p>We are looking for Enhance existing systems by analyzing business objectives, preparing an action plan and identifying areas for modification and improvement, etc.</p>
    <ul>
        <li> Hands on experience in C#, ASP.NET, MVC, WCF/Web API, SQL Server. </li>
        <li> Experience in latest .Net framework versions (4/4.5/.Net Core 2.0 Frameworks), SQL Server 2008/2012. </li>
        <li> Experience in OOPS, HTML5, CSS, AJAX/ JavaScript/ JQuery/ AngularJS. </li>
        <li> Understanding of Agile - SCRUM methodologies. </li>
        <li> Excellent communication, analytical and interpersonal skills. </li>


    </ul>
    <h2 class="text-divider"></h2>
    <h4>Full Stack Developer</h4>
    <p>We are looking for talented Senior UI developer with hands-on experience in React Js/React Native , Angular 2+ to join our digital development team.</p>
    <ul>
        <li> Hands-on strong experience with React Js/ React Native Angular 2+. </li>
        <li> Hands-on experience of developing apps for iOS/Android using React Native. </li>
        <li> Knowledge of publishing apps in Google Play Console and Apple iTunes Connect. </li>
        <li> Learning & Adapting to New Trends in React Community. </li>
        <li> Expert knowledge in Bootstrap or Flex </li>
        <li> Basic knowledge in things required for on-page SEO of a website. </li>
        <li> Comfortable coding custom JavaScript solutions as well as utilizing existing frameworks. </li>
        <li> Expert knowledge in jQuery and Ajax. </li>
        <li> Expert knowledge of building high performing and available websites and how to apply page performance optimization techniques </li>
        <li> Adept at building and maintaining cross browser/device compatible sites. </li>
        <li> Exposure or appreciation of agile development practices </li>
        <li> Passionate about user experience </li>
        <li> Ability to work in a fast-paced, dynamic environment </li>
        <li> Good communication and interpersonal skills. </li>
        <li> Excellent understanding of the coding standards required for high volume websites from a security and performance perspective </li>


    </ul>
</div>
<app-footer></app-footer>