<!-- Navigation -->
<div class="header-top bg-theme-colored border-top-theme-colored2-2px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget text-white">
                    <ul class="list-inline xs-text-center text-white">
                        <li class="m-0 pl-10 pr-10">
                            <a href="#" class="text-white"><i class="fa fa-phone text-theme-colored2"></i>+91 8939651208</a> </li>
                        <li class="m-0 pl-10 pr-10">
                            <a href="#" class="text-white"><i class="fa fa-envelope-o text-theme-colored2"></i>  contact@t5developers.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 pr-0">
                <div class="widget">

                    <ul id="menu">
                        <li><a href="https://www.facebook.com/T5-Developers-100463758223905/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://wa.me/918939651208"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="https://g.co/kgs/8YiCuu"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://instagram.com/t5_developers?igshid=u67stuyua64h"><i class="fa fa-instagram"></i></a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="header-middle p-0 bg-lightest xs-text-center">
    <div class="container pt-20 pb-20">
        <div class="row">
            <!-- <div class="col-xs-12 col-sm-12 col-md-4">
                <a class="menuzord-brand pull-left flip sm-pull-center mb-15" href="index-mp-layout1.html">
                    <img width="200px" height="125px" src="assets/img/t5l.png" alt=""></a>
            </div> -->
            <div class="col-lg-4">
                <img src="assets/img/homelogo.png" width="100%" alt="" />
                <!-- <a href="/about" class="text-center text-warning">
                    <h1>Click here to know more..</h1>
                </a> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 my-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-headphones font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-envelope-open font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-map-marker font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div id="carouselContent" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="text-center p-4">
                                <p><i>Our Motto:"Products that create impact live at the<br> intersection of design,
                                     engineering and
                                     technology. Put your next product on the road to successful outcomes."</i></p>
                            </div>
                            <!-- <div class="carousel-item text-center p-4">
                                <p><i>"As pressure mounts to embrace AI, many businesses<br> struggle to find its true potential.<br> To harness data and deliver unique experiences, start with modern data architecture."</i></p>


                            </div> -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <div class="row">
        <!-- <div class="col-10 mx-auto">
            <ul class="nav nav-tabs small justify-content-end" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">HOME</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab2" role="tab">List</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab3" role="tab">More</a></li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="tab1" role="tabpanel">
                    <h2 class="mb-3">Right Align Tabs</h2>
                    <p>The nav-tabs above use `justify-content-end` to align all tabs on the right. Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn
                        deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled
                        aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>

                </div>
                <div class="tab-pane" id="tab2" role="tabpanel">
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Primary</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-outline-secondary">Outline</a>
                        </div>
                    </div>
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Primary</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-outline-secondary">Outline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-10 mx-auto">
            <ul class="nav nav-tabs small" role="tablist">
                <li class="nav-item"><a class="nav-link" href="T5Developers" role="tab">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="about">ABOUT US</a></li>
                <li class="nav-item"><a class="nav-link" href="services" role="tab">SERVICES</a></li>
                <li class="nav-item"><a class="nav-link" href="careers" role="tab">CAREERS</a></li>
                <li class="nav-item"><a class="nav-link" href="contact" role="tab">CONTACT US</a></li>
                <li class="nav-item ml-auto"><a class="nav-link" href="contact" role="tab">SCHEDULE A DEMO</a></li>

            </ul>
            <!-- <div class="tab-content py-4">
                <div class="tab-pane active" id="tab11" role="tabpanel">
                    <h2 class="mb-3">Right Align Individual Tabs</h2>
                    <p>The above tabs use `ml-auto` to right align indiviual tabs</p>


                </div>
                <div class="tab-pane" id="tab22" role="tabpanel">
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Primary</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-outline-secondary">Outline</a>
                        </div>
                    </div>
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Primary</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-outline-secondary">Outline</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab33" role="tabpanel">
                    More..
                </div>
            </div> -->
        </div>
    </div>
</div>