<!-- Navigation -->
<div class="header-top bg-theme-colored border-top-theme-colored2-2px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget text-white">
                    <ul class="list-inline xs-text-center text-white">
                        <li class="m-0 pl-10 pr-10"> <a href="#" class="text-white"><i class="fa fa-phone text-theme-colored2"></i> 123-456-789</a> </li>
                        <li class="m-0 pl-10 pr-10">
                            <a href="#" class="text-white"><i class="fa fa-envelope-o text-theme-colored2"></i> contact@yourdomain.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 pr-0">
                <div class="widget">

                    <ul id="menu">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="header-middle p-0 bg-lightest xs-text-center">
    <div class="container pt-20 pb-20">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a class="menuzord-brand pull-left flip sm-pull-center mb-15" href="index-mp-layout1.html">
                    <img width="200px" height="150px" src="assets/img/t5l.png" alt=""></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 my-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-headphones font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-envelope-open font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-map-marker font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Nav pills -->
<div class="container">
    <ul class="ulnavbar nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="T5Developers">HOME
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about">ABOUT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="careers">CAREERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="services">SERVICES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact">CONTACT US</a>
        </li>

        <!-- 
        <li class="pull-right nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->

    </ul>
</div>