<footer class="footer">
    <div class="container-fluid">
        <!-- <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.totalligent.com">
                        T5Developers 
                    </a>
                </li>
                <li>
                    <a href="http://totalligent.com/about-us.html">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Services
                    </a>
                </li>
            </ul>
        </nav> -->
        <div class="copyright text-center">
            &copy; {{date}}, made with <i class="fa fa-heart">    favorite</i> by
            <a href="https://www.t5developers.com/" target="_blank">T5Developers</a> All rights reserved.

        </div>
    </div>
</footer>