<app-header></app-header>

<div class="container">
    <!-- <div class="row">


        <div class="col-lg-4">
            <img src="assets/img/homelogo.png" width="100%" alt="" /> -->
    <!-- <a href="/about" class="text-center text-warning">
                <h1>Click here to know more..</h1>
            </a> -->
    <!-- </div> -->

    <!-- <div class="col-lg-5">
            <img src="assets/img/crm.png" alt="">
        </div> -->

    <!-- </div> -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol> -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="assets/img/carusoel1.png" alt="First slide">
                <!-- <img src="assets/img/landingpage.png" alt="First slide"> -->

                <!-- Static Header -->
                <!-- <div class="corselstyle header-text hidden-xs">

                    <div class="col-md-12 text-center">
                        <h1 class="fonttext text-uppercase text-white ">WE PROVIDE BEST <br>
                            <span class="text-theme-colored2">CONSULTING SERVICE</span></h1>


                        <p>We provides you our best business solution and professional services for our clients and <br>always try to achieve our clients trust and satisfaction
                        </p>

                        <div class="">
                            <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                    </div>
                </div> -->
                <!-- /header-text -->
            </div>

        </div>
        <!-- Controls -->
        <!-- <a class="left carousel-control" href="carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>

        </a>
        <a class="right carousel-control" href="carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a> -->
    </div>
    <!-- /carousel -->

</div>
<div class="container my-4">
    <div class="section-title text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <h2 class="trans text-uppercase title">Welcome To<span class="text-theme-colored2"> T5Developers</span></h2>
                <h2> <i class="fa fa-diamond" aria-hidden="true"></i></h2>

                <p>Find out why businesses and employees win when implementing fluid, continuous learning cycles. Ongoing learning enables employees to keep pace with changing job skills and employers to support their staff over the course of longer, more
                    diverse careers.</p>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="feature-item maxwidth400 mb-sm-30">
                    <div class="thumb">
                        <img src="assets/img/left.png" width="372px" height="246px" alt="" class="img-fullwidth">
                        <div class="title">
                            <a href="#">
                                <h3>Our Vision<i class="fa fa-caret-right pull-right mt-5"></i></h3>
                            </a>
                            <p class="text-white">When you successfully create a connection with your customers and employees, many of them might stay loyal to you for life. This helps you increase your overall profitability while building a solid foundation of brand promoters.</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="feature-item maxwidth400">
                    <div class="thumb">
                        <img src="assets/img/right.png" width="372px" height="246px" alt="" class="img-fullwidth">
                        <div class="title">
                            <a href="#">
                                <h3>Our Mission<i class="fa fa-caret-right pull-right mt-5"></i></h3>
                            </a>
                            <p class="text-white">Our unique Requirements Engineering process enables us to work within your budget to deliver an effective solution with the most essential functionality being completed first</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="feature-item maxwidth400 mb-sm-30">
                    <div class="thumb">
                        <img src="assets/img/center.png" width="372px" height="246px" alt="" class="img-fullwidth">
                        <div class="title">
                            <a href="#">
                                <h3>Our Team<i class="fa fa-caret-right pull-right mt-5"></i></h3>
                            </a>
                            <p class="text-white">We have a team of qualified developers with a minimum of 3 years industry experience plus post-secondary education</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>