<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="text-center">

            <div class="col-sm-12">

                <h2 class="text-center text-uppercase">About Us</h2>
                <h2 class="text-center"> <i class="fa fa-diamond" aria-hidden="true"></i></h2>

                <p> After working with major IT firms and various clients in India and overseas, we have formed T5Developers in 2019. In the same year, T5Developers was registered with Ministry of Corporate Affairs as a private limited Indian company. T5Developers
                    continues to provide innovative quality software solutions for all forms of technical requirements. In an industry where technology changes at a relentless and dizzying pace, we value persistence and endurance as highly as adaptability.
                    It is the foundation which helps us successfully to shape the future of our company. By 2021 and beyond, we want T5Developers to become more customer-focused, more innovative, more agile and fully digitized in our internal processes
                    and customer-facing activities.
                </p>
            </div>

        </div>


    </div>

    <div class="row my-3">
        <div class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card">
                <div class="card-body">
                    <!-- <p class="card-text"><i>"Digitalisation is paving new paths of innovation and sustainability. Yet a successful digital transformation demands more than changes in technology."</i>
                    </p> -->
                    <h5 class="text-center card-title fontcolor custFont text-uppercase"><strong>Dinesh Kumar S</strong></h5>

                    <p class="text-center fontcolorp">CEO & Founder</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card">
                <div class="card-body">
                    <!-- <p class="card-text"><i>"Digitalisation is paving new paths of innovation and sustainability. Yet a successful digital transformation demands more than changes in technology."</i>
                    </p> -->
                    <h5 class="text-center card-title fontcolor custFont text-uppercase"><strong>Baiju B V</strong></h5>

                    <p class="text-center fontcolorp">Chairman</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card">
                <div class="card-body">
                    <!-- <p class="card-text"><i>"While many businesses are striving to fix
                        their diversity imbalances and encourage
                        a culture of inclusion, these efforts will
                        prove suboptimal without adjustments to
                        the very concept of how careers actually
                        unfold for the workers of today."</i>
                    </p> -->
                    <h5 class="text-center card-title fontcolor custFont text-uppercase"><strong>Manoj Kumaran R</strong></h5>

                    <p class="text-center fontcolorp">Product Manager</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card">
                <div class="card-body">
                    <!-- <p class="card-text"><i>"Digitalisation is paving new paths of innovation and sustainability. Yet a successful digital transformation demands more than changes in technology."</i>
                    </p> -->
                    <h5 class="text-center card-title fontcolor custFont text-uppercase"><strong>Raj Kumar S</strong></h5>

                    <p class="fontcolorp text-center">Chief Technical Officer</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12">


            <h4>OUR MOTTO</h4>
            <p>We aim to help our clients provide their customers the best user experience. “T5 DEVELOPERS” motto is to provide business operation of its clients by developing and/or implementing premium IT products and services
            </p>
        </div>
    </div>

    <!-- <div class="col-lg-5">
            <img src="assets/img/crm.png" alt="">
        </div> -->

    <!-- </div> -->
    <div class="row">
        <div class="col-md-12">
            <h5>WHAT WE DO</h5>
            <p>We are providing innovative next-generation technology solutions and services that leverage deep industry expertise, technology independence and an extensive partner community. Sourcing and deploying highly skilled IT specialists in mainstream
                and niche technologies to meet clients’ temporary, permanent and project needs to navigate the fast-moving IT landscape.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>SERVICES OFFERED</h5>
            <ul class="col-xs-6 list-unstyled lists-v1">


                <li><i class="fa fa-angle-right"></i>Custom Software Development</li>
                <li><i class="fa fa-angle-right"></i>Consulting</li>
                <li><i class="fa fa-angle-right"></i>Corporate Training</li>
                <li><i class="fa fa-angle-right"></i>Product Development</li>
                <li><i class="fa fa-angle-right"></i>Maintenance and Support</li>
            </ul>
        </div>
    </div>

</div>
<app-footer></app-footer>