<app-header></app-header>
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">
            <p>We strive to deliver an individual, innovative and affordable service every time and to follow it through an outstanding delivery which is both on time and within budget.</p><br>
            <div class="tag-box tag-box-v2">
                <p>Write to us to contact@t5developers.com and we anticipate conversing with you soon.</p>
            </div>
            <iframe width="100%" height="250px" frameborder="0" style="border:0" src="https://maps.google.com/maps?q=T5 Developers&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen=""></iframe>

        </div>
        <!--/col-md-9-->

        <div class="col-md-3">


            <!-- Contacts -->
            <div class="headline">
                <h2>Contacts</h2>
            </div>
            <ul class="list-unstyled who margin-bottom-30">
                <li><i class="fa fa-home"></i>6/2A,Illavanthangal street <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kelambakkam, 603103,
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LM - Near Chennai Mobiles
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chennai, India

                </li>
                <li><i class="fa fa-envelope"></i>contact@t5developers.com</li>

                <li>
                    <i class="fa fa-phone"></i>IN:+91 8939651208,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 8056794318,
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 9841557864</li>
                <li><a href="https://www.t5developers.com/"><i class="fa fa-globe"></i>https://www.t5developers.com/</a></li>
            </ul>
            <!-- End Contacts -->

        </div>
    </div>
    <!--/col-md-3-->
</div>
<!-- <div class="row">
    <div class="col-sm-8 offset-sm-2 ">

        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">

                    <div id="map-container-google-2" class="shadow-lg p-3 mb-5 bg-white rounded">
                        <iframe height="500px" width="100%" src="https://maps.google.com/maps?q=T5 Developers&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="shadow-lg p-3 mb-5 col-sm-6 bg-white rounded">
                    <form>
                        <div class="card text-white mb-3">
                            <div class="card-header">
                                <h4 class="card-title">Contact Us</h4>
                                <p class="card-category">Complete your registration for further queries
                                </p>
                            </div>
                        </div>
                        <div class="row m-top m-b-15">
                            <div class="col-md-4">
                                <label class="col-sm-12 col-form-label text-right">Name</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Enter Name" required class="form-control">
                            </div>
                        </div>
                        <div class="row m-b-15">
                            <div class="col-md-4">
                                <label class="col-sm-12 col-form-label text-right">Email Id</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Enter EmailId" required class="form-control">
                            </div>
                        </div>
                        <div class="row m-b-15">
                            <div class="col-md-4">
                                <label class="col-sm-12 col-form-label text-right">Mobile</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" placeholder="Enter Mobile Number" required class="form-control">
                            </div>
                        </div>

                        <div class="row m-b-15">
                            <div class="col-md-4">
                                <label class="col-sm-12 col-form-label text-right">Comments</label>
                            </div>
                            <div class="col-md-6">
                                <textarea cols="50" placeholder="Enter your comments" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row m-b-15">
                            <div class="col-sm-4 offset-sm-4">
                                <button type="submit" id="btnSubmitER" class="btn btn-warning pull-center">Submit
                                    <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</div> -->
<app-footer></app-footer>