<div class="header-top bg-theme-colored border-top-theme-colored2-2px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget text-white">
                    <ul class="list-inline xs-text-center text-white">
                        <li class="m-0 pl-10 pr-10"> <a href="#" class="text-white"><i class="fa fa-phone text-theme-colored2"></i> 123-456-789</a> </li>
                        <li class="m-0 pl-10 pr-10">
                            <a href="#" class="text-white"><i class="fa fa-envelope-o text-theme-colored2"></i> contact@yourdomain.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 pr-0">
                <div class="widget">

                    <ul id="menu">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="header-middle p-0 bg-lightest xs-text-center">
    <div class="container pt-20 pb-20">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a class="menuzord-brand pull-left flip sm-pull-center mb-15" href="index-mp-layout1.html">
                    <img width="200px" height="150px" src="assets/img/t5l.png" alt=""></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 my-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-headphones font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-envelope-open font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget">

                            <i class="fa fa-map-marker font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                            <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Nav pills -->
<div class="container">
    <ul class="ulnavbar nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#home">Home
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu2">Menu 2</a>
        </li>


        <li class="pull-right nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>

    </ul>
</div>


<!-- 
<div class="container-fluid carousel slide my-2" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active carouselbg">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <h1>Text 1</h1>
            </div>
        </div>
        <div class="carousel-item carouselbg2">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <h1>Text 2</h1>
            </div>
        </div>
        <div class="carousel-item carouselb3">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <h1>Text 3</h1>
            </div>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="section-title text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <h2 class="trans text-uppercase title">Welcome To<span class="text-theme-colored2"> T5Developers</span></h2>
                <h2> <i class="fa fa-diamond" aria-hidden="true"></i></h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="feature-item maxwidth400 mb-sm-30">
                    <div class="thumb">
                        <img src="assets/img/ab1.jpg" alt="" class="img-fullwidth">
                        <div class="title">
                            <a href="#">
                                <h3> Business Analysis<i class="fa fa-caret-right pull-right mt-5"></i></h3>
                            </a>
                            <p class="text-white">We deliver true results, focusing on strategic decisions and practical actions tailored to our clients We deliver true results, focusing on strategic decisions and practical actions tailored</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="feature-item maxwidth400 mb-sm-30">
                    <div class="thumb">
                        <img src="assets/img/ab1.jpg" alt="" class="img-fullwidth">
                        <div class="title">
                            <a href="#">
                                <h3> Business Analysis<i class="fa fa-caret-right pull-right mt-5"></i></h3>
                            </a>
                            <p class="text-white">We deliver true results, focusing on strategic decisions and practical actions tailored to our clients We deliver true results, focusing on strategic decisions and practical actions tailored</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="feature-item maxwidth400">
                    <div class="thumb">
                        <img src="assets/img/ab1.jpg" alt="" class="img-fullwidth">
                        <div class="title">
                            <a href="#">
                                <h3> Business Analysis<i class="fa fa-caret-right pull-right mt-5"></i></h3>
                            </a>
                            <p class="text-white">We deliver true results, focusing on strategic decisions and practical actions tailored to our clients We deliver true results, focusing on strategic decisions and practical actions tailored</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
    <div class="overlay-left"></div>
    <div class="overlay-right"></div>
    <div id="grid" class="image-cropper">
        <img *ngFor="let url of imagesUrl; let i = index" [@move]="state" (@move.done)="onFinish($event)" (@move.start)="onStart($event)" [attr.class]="i" [src]="url" alt="" />
    </div>
    <div>
        <a id="slider-buttons-left" (click)="moveLeft()">&#10094;</a>
        <a id="slider-buttons-right" (click)="moveRight()">&#10095;</a>
    </div>


</div>