<div class="container-fluid">
    <div class="col-sm-10 offset-sm-1">
        <img height="550px" width="100%" src="assets/img/ProductInfo.jpg" alt="...">



    </div>
</div>

<!--/row-->
<!-- <div class="container content-sm"> -->
<!-- Service Blocks -->
<!-- <div class="row margin-bottom-30">
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-hourglass-start service-icon"></i>
                <div class="desc">
                    <h4>Commitment</h4>
                    <p>We commit ourselves to work consistently to take steps towards your business goals. We believe in individual commitment of our employees, that makes your business more stable than ever.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-tachometer service-icon"></i>
                <div class="desc">
                    <h4>Quality</h4>
                    <p>We strongly believe that the measure of who we are is defined by what we do. This has always kept us in delivering services in uncompromised quality. Our clients differentiates us from our competitors by our outstanding quality deliverables,
                        which is an outcome of our uniquely defined quality standards and delivery model.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-paper-plane service-icon"></i>
                <div class="desc">
                    <h4>Innovation</h4>
                    <p>Innovation comes from people who enjoy their work, We are very keen in choosing our employees who can add value to our clients business. As a result our clients are always served by creative individuals who can think beyond boundaries,
                        and are passionate to enjoy their work.</p>
                </div>
            </div>
        </div>
    </div> -->